.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #402E2A;
    color: #F2D0A7;
}

.navbar-search input{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.navbar-title h1{
    margin: 0;
    font-size: 24px;
}

.navbar-social{
    display: flex;
    gap: 15px
}

.navbar-social a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navbar-social a:hover{
    color:#007bff;
}